.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .app-title {
    margin: 0;
    color: white;
  }
  
  .side-container {
    display: flex;
    height: 100vh;
  }
  
  .sidenav {
    width: 240px;
  }
  
  .content {
    flex: 1;
    padding: 24px;
    overflow: auto;
  }
  mat-toolbar{
 height: 80px;
  }