<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h3>Register Yourself</h3>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">FullName</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                      </div>
                      <br><br>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <br><br>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                <br>
                    
                    <button type="submit" class="btn btn-primary" md-2 (click)="register()" >Sign Up</button>
                  </form>
                   


                
            </div>
        </div>
    </div>
</div>