<div>
    <h1>let variable</h1>
    <p>  let letvariable="variables declared by let only available where inside the block where they are defined";
    </p>
    <button (click)="letvariabledemo()">letvariable</button>
    </div>
    
    <div>
        <h1>var variable</h1>
        <p>  var varvarible="variables declared by var available throughtout the function in which they are declared";
        </p>
        <button (click)="varvariabledemo()">varvariable</button>
    </div>
    <button (click)="back()">Back</button>
    
    