
<form [formGroup]="loginForm" (ngSubmit)="login()">
<div class="container">
<mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br><br>
    <button mat-stroked-button color="primary">Login</button>&nbsp;
    <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
  </div>
  </div>
</form>