
<div style="margin: 20px auto ; width: 780px;">
    <div class="app-component">
        <h1>Component1</h1>
        <p>This is <b>app</b>component</p>
        <button>view Encapsulation</button>
    </div>
</div>
<div class="component-container">
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
    <app-shodow></app-shodow>
    <app-emulated></app-emulated>
</div>
<router-outlet></router-outlet>
<app-compo></app-compo>
<app-rxjs></app-rxjs>

<button (click)="createcomponent()">create</button>
<ng-container #container></ng-container>